<a href="https://colab.research.google.com/github/jinmoj/2024.DB/blob/main/DB%EA%B0%9C%EC%9D%B8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EA%B0%9C%EB%B0%9C%ED%95%98%EA%B3%A0%EC%9E%90_%ED%95%98%EB%8A%94_%EC%84%9C%EB%B9%84%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('shopping_app.db')
cursor = conn.cursor()

In [4]:
cursor.execute('DROP TABLE IF EXISTS 사용자')

In [5]:
cursor.execute('DROP TABLE IF EXISTS 상품')

In [25]:
cursor.execute('DROP TABLE IF EXISTS 장바구니')

In [70]:
cursor.execute('DROP TABLE IF EXISTS 리뷰')

In [8]:
cursor.execute('DROP TABLE IF EXISTS 제조업체')

In [9]:
# 사용자 테이블
cursor.execute('''
CREATE TABLE 사용자 (
    사용자ID  VARCHAR(20) PRIMARY KEY NOT NULL,
    이름      VARCHAR(20) NOT NULL,
    나이      INT NOT NULL,
    등급      VARCHAR(20) NOT NULL
);
''')

In [10]:
# 상품 테이블
cursor.execute('''
CREATE TABLE 상품 (
    상품ID  VARCHAR(20) PRIMARY KEY NOT NULL,
    상품명  VARCHAR(20) NOT NULL,
    재고량  INT NOT NULL,
    가격    INT NOT NULL
);
''')

In [26]:
# 장바구니 테이블
cursor.execute('''
CREATE TABLE 장바구니 (
    장바구니ID  VARCHAR(20) PRIMARY KEY NOT NULL,
    상품ID      VARCHAR(20) NOT NULL,
    추가날짜   VARCHAR(20) NOT NULL,
    FOREIGN KEY(상품ID) REFERENCES 상품(상품ID)
);
''')

In [71]:
# 리뷰 테이블
cursor.execute('''
CREATE TABLE 리뷰 (
    리뷰번호   CHAR(5) PRIMARY KEY NOT NULL,
    작성자      VARCHAR(20) NOT NULL,
    평점        INT NOT NULL,
    FOREIGN KEY(작성자) REFERENCES 사용자(사용자ID)
);
''')

In [13]:
# 제조업체 테이블
cursor.execute('''
CREATE TABLE 제조업체 (
    제조업체명  VARCHAR(20) PRIMARY KEY NOT NULL,
    연락처      VARCHAR(20) NOT NULL,
    주소        VARCHAR(30) NOT NULL
);
''')

In [14]:
# 사용자 데이터 삽입
cursor.execute('''
INSERT INTO 사용자 (사용자ID, 이름, 나이, 등급) VALUES
    ('abc', '유병민', 25, 'silver'),
    ('honey', '염태민', 25, 'platinum'),
    ('free', '장지웅', 24, 'silver'),
    ('IOT', '노정욱', 27, 'silver'),
    ('poloc', '김수민', 24, 'gold');
''')

In [16]:
# 상품 데이터 삽입
cursor.execute('''
INSERT INTO 상품 (상품ID, 상품명, 재고량, 가격) VALUES
    ('001', '숏패딩', 50, 90000),
    ('002', '벌룬 펜츠', 60, 45000),
    ('003', '롱패딩', 70, 120000),
    ('004', '니트', 80, 70000),
    ('005', '후드티', 90, 50000);
''')

In [27]:
# 장바구니 데이터 삽입
cursor.execute('''
INSERT INTO 장바구니 (장바구니ID, 상품ID, 추가날짜) VALUES
    ('00a', '001', '2024.12.01.'),
    ('00b', '002', '2024.09.13.'),
    ('00c', '003', '2024.12.02.'),
    ('00d', '004', '2024.11.29.'),
    ('00e', '005', '2024.10.18.');
''')

In [72]:
# 리뷰 데이터 삽입
cursor.execute('''
INSERT INTO 리뷰 (리뷰번호, 작성자, 평점) VALUES
    ('00001', 'abc', 4),
    ('00002', 'honey', 4.5),
    ('00003', 'free', 5),
    ('00004', 'IOT', 3.5),
    ('00005', 'poloc', 4);
''')

In [44]:
# 제조업체 데이터 삽입
cursor.execute('''
INSERT INTO 제조업체 (제조업체명, 연락처, 주소) VALUES
    ('northface', '010-1234-****', '서울 중구 남대문로 81'),
    ('adidas', '010-2397-****', '서울 중구 소공로 63 신세계백화점'),
    ('NIKE', '010-1975-****', '서울 중구 퇴계로 77'),
    ('1989', '010-0735-****', '서울 종로구 수표로 28길'),
    ('탭탭', '010-6193-****', '서울 강남구 선릉로');
''')

In [45]:
# 데이터 확인
cursor.execute('SELECT * FROM 사용자;')
사용자_data = cursor.fetchall()

cursor.execute('SELECT * FROM 상품;')
상품_data = cursor.fetchall()

cursor.execute('SELECT * FROM 장바구니;')
장바구니_data = cursor.fetchall()

cursor.execute('SELECT * FROM 리뷰;')
리뷰_data = cursor.fetchall()

cursor.execute('SELECT * FROM 제조업체;')
제조업체_data = cursor.fetchall()

In [47]:
# 결과 출력
for 사용자 in 사용자_data:
    print(사용자)

('abc', '유병민', 25, 'silver')
('honey', '염태민', 25, 'platinum')
('free', '장지웅', 24, 'silver')
('IOT', '노정욱', 27, 'silver')
('poloc', '김수민', 24, 'gold')

In [48]:
for 상품 in 상품_data:
    print(상품)

('001', '숏패딩', 50, 90000)
('002', '벌룬 펜츠', 60, 45000)
('003', '롱패딩', 70, 120000)
('004', '니트', 80, 70000)
('005', '후드티', 90, 50000)

In [49]:
for 장바구니 in 장바구니_data:
    print(장바구니)

('00a', '001', '2024.12.01.')
('00b', '002', '2024.09.13.')
('00c', '003', '2024.12.02.')
('00d', '004', '2024.11.29.')
('00e', '005', '2024.10.18.')

In [68]:
for 리뷰 in 리뷰_data:
    print(리뷰)

('00001', 'abc', 4)
('00002', 'honey', 4.5)
('00003', 'free', 5)
('00004', 'IOT', 3.5)
('00005', 'poloc', 4)

In [51]:
for 제조업체 in 제조업체_data:
    print(제조업체)

('northface', '010-1234-****', '서울 중구 남대문로 81')
('adidas', '010-2397-****', '서울 중구 소공로 63 신세계백화점')
('NIKE', '010-1975-****', '서울 중구 퇴계로 77')
('1989', '010-0735-****', '서울 종로구 수표로 28길')
('탭탭', '010-6193-****', '서울 강남구 선릉로')

In [55]:
#사용자 테이블에서 사용자ID 검색
cursor.execute('SELECT 사용자ID FROM 사용자;')
user_ids = cursor.fetchall()

In [60]:
print("사용자 테이블(사용자ID)")
for user_id in user_ids:
    print(user_id[0])

사용자 테이블(사용자ID)
IOT
abc
free
honey
poloc

In [74]:
# 리뷰 테이블에 새로운 데이터 삽입
cursor.execute("INSERT INTO 리뷰 (리뷰번호, 작성자, 평점) VALUES ('00006', 'jinmo', 5)")

In [75]:
cursor.execute("SELECT * FROM 리뷰")
rows = cursor.fetchall()
for row in rows:
    print(row)

('00001', 'abc', 4)
('00002', 'honey', 4.5)
('00003', 'free', 5)
('00004', 'IOT', 3.5)
('00005', 'poloc', 4)
('00006', 'jinmo', 5)